@model QueueManagementApp.Models.RedenBrojViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OdberiUsluga</title>
</head>
<body>
    <div>
        @Model.RedenBroj.ToString()
    </div>
    <div>
        @Model.Usluga
    </div>
</body>
</html>
